name: IoT Debian Build

on:
  push:
    tags: ["*"]
  workflow_dispatch:
    inputs:
      release_version:
        description: 'Release version'
        required: false

jobs:
  build-and-upload:
    runs-on: ubuntu-latest
    container:
      image: ubuntu:20.04
    steps:
      - name: Install Dependencies
        run: |
          export DEBIAN_FRONTEND=noninteractive
          apt-get update
          apt-get install -y tzdata curl build-essential pkg-config libssl-dev clang lld cmake unzip git
          ln -fs /usr/share/zoneinfo/UTC /etc/localtime
          dpkg-reconfigure -f noninteractive tzdata

      - name: Checkout
        uses: actions/checkout@v4

      - name: Rust install
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          cache-shared-key: release

      - name: Install Protoc
        uses: arduino/setup-protoc@v3
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Release
        run: |
          AWS_LC_SYS_CMAKE_BUILDER=1 cargo build --release \
            -p iot-config \
            -p iot-packet-verifier \
            -p iot-verifier \
            -p ingest \
            -p price \
            -p reward-index \
            -p poc-entropy

      - name: Extract binaries and cleanup
        run: |
          mkdir -p /tmp/binaries
          mv target/release/iot-config /tmp/binaries/
          mv target/release/iot-packet-verifier /tmp/binaries/
          mv target/release/iot-verifier /tmp/binaries/
          mv target/release/ingest /tmp/binaries/
          mv target/release/price /tmp/binaries/
          mv target/release/reward-index /tmp/binaries/
          mv target/release/poc-entropy /tmp/binaries/
          rm -rf target/
          mkdir -p target/release
          mv /tmp/binaries/* target/release/

      - name: Debian packaging
        env:
          PACKAGECLOUD_API_KEY: ${{ secrets.PACKAGECLOUD_API_KEY }}
          RELEASE_VERSION: ${{ github.event.inputs.release_version }}
        run: |
          chmod +x ./.github/scripts/make_debian.sh
          ./.github/scripts/make_debian.sh
